@import "tailwindcss" source(none);
@source "../src";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-midnight: #122C4F;
  --color-pearl: #FBF9E4;
  --color-noir: #000000;
  --color-ocean: #5B88B2;
  --color-background: #122C4F;
  --color-foreground: #000000;
}

:root {
  --background: #122C4F;
  --foreground: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #122C4F;
  color: #FBF9E4;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}
